<div class="row"> 
	<div class="col-sm-7 col-md-5 col-lg-4" >
		<div class="resume-wrapper  my-drop-zone" ng-if="!vm.candidate.hasResume" ng-click="vm.clickUpload()" nv-file-drop nv-file-over uploader="vm.uploader">
			<div class="resume-upload">	
				<i class="fa fa-file-text icon" aria-hidden="true" ng-hide="vm.document.name"></i>
				<i class="fa fa-file-pdf-o icon" aria-hidden="true" ng-show="vm.document.name"></i>
				<span class="text" ng-hide="vm.document.name" ng-bind="'candidate_uploadResume' | translate"></span>
				<span class="text" ng-show="vm.document.name" ng-bind="vm.document.name"></span>
			</div>
			<input type="file" id="uploadBtn" ng-show="false" nv-file-select uploader="vm.uploader" accept=".pdf"/>
		</div>
		<div class="resume-wrapper" ng-if="vm.id.length > 0 && vm.candidate.hasResume">
			<div class="view-remove">
				<span ng-bind="'global_resume' | translate"></span><br>
				<br>
				<div class="row">
					<span class="col-xs-12 text">
							<i class="icon icon-view fa fa-download" ng-click="vm.viewResume()" aria-hidden="true"></i><br>
							{{'global_view' | translate}}
					</span>
				</div>
			</div>
			<div class="row">
			<div class="col-xs-12 text-right">
					<i class="icon icon-remove fa fa-trash" ng-click="vm.removeResume()" aria-hidden="true"></i>
			</div>
		</div>
		</div>
	</div>
</div>