.job-detail {
	color: #4D4D4D;
 }

.job-detail .title {
	 font-size: 25px;
	 color: #8E8F87;
	 font-weight: 400;
	 text-align: center;
 }

 .job-detail .description {
	 
	 line-height: 25px;
	 text-align: justify;
 }

 .job-detail .lists{
	 margin-top: 20px;
 }

 .job-detail .lists .lists-title {
		font-weight: 500;
 }

  .job-detail .lists .list {
		margin-top: 10px;
 }

 .job-detail .lists .list ul li {
	 padding-top: 2px;
	 padding-bottom: 2px;
	 list-style: disc;
	 margin-left: 30px;
 }

 .job-detail .closing {
	margin-top: 20px;
	line-height: 25px;
	text-align: justify;
 }