<div class="container">
	<header class="row page--header">
		<div class="col-xs-6 logo hand" ui-sref="jobList">
				<i class="icon fa fa-address-card-o" aria-hidden="true"></i> 
				<span class="text">Jobs </span>
		</div>
		<div class="col-xs-6" style="text-align: right;">
			<span>
				<a class="hand" ng-click ="vm.changeLanguage('en')">{{ 'global_english' | translate}}</a> 
				| 
				<a class="hand" ng-click="vm.changeLanguage('es')">{{ 'global_spanish' | translate}}</a></span>
		</div>		
	</header>
</div>