<page-title title="'candidate_title'| translate" ng-init="vm.init()"></page-title> 

<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      
      <rd-widget-header icon="fa fa-address-book-o" title="{{'global_candidateList' | translate}}">
        <a class="btn btn-default btn-sm" 
           ng-if="$root.hasPermission('CANDIDATES_ADD')"
           ui-sref="candidate-detail({id : ''})"
           role="button"><i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <a class="btn btn-default btn-sm" 
           ng-if="$root.hasPermission('CANDIDATES_DELETE')"
           ng-click="vm.confirmDelete()"
           role="button">
           <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
         <span ng-if="$root.hasPermission(['CANDIDATES_ADD', 'CANDIDATES_DELETE'])">-</span> 
        <a class="btn btn-default btn-sm" ng-click="vm.filertToggle()" role="button"><i class="fa fa-filter" aria-hidden="true"></i></a>
      </rd-widget-header>
      

      <div id="filterContent" class="" ng-class="{'filter-expanded' : vm.filterExpanded, 'filter' : !vm.filterExpanded}">
      <div class="row" style="background-color: #2875a1; padding: 10px;">
        <div class="col-xs-12">
          <!--<div class="input-group">-->
            <!--<input type="text" class="form-control" placeholder="Search..." aria-describedby="sizing-addon2">
            <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search" ></i></span>-->
            <nit-advanced-searchbox
              ng-model="vm.searchParams"
              parameters="vm.availableSearchParams"
              placeholder="Search..."
              template-url="./src/template/advancedSearchBox/angular-advanced-searchbox.html">
            </nit-advanced-searchbox>
          <!--</div>-->
        </div>
      </div>
      </div>

      <rd-widget-body classes="xlarge no-padding">
        <div class="table-responsive">
          <table class="table">
						<thead>
              <th width="1%">
                <checkbox-list-header table-check="vm.tableCheck" ></checkbox-list-header>
              </th>
							<th width="44%" ng-bind="'global_name' | translate"></th>
							<th width="30%" ng-bind="'global_email' | translate"></th>
							<th width="15%" ng-bind="'global_createdDate' | translate" class="text-center"></th>
						</thead>
            <tbody>
              <tr ng-repeat="c in vm.candidateList">
                <td>
                    <checkbox-list-item item-id="c.id" checkboxes="vm.tableCheck"></table-check-item>
                </td>
                <td ng-bind="c.fullName" ui-sref="candidate-detail({id: c.id})"></td>
                <td ng-bind="c.email" ui-sref="candidate-detail({id: c.id})"></td>
                <td class="text-center" ng-bind="c.createdAt | date: 'MM/dd/yyyy'" ui-sref="candidate-detail({id: c.id})"></td>
              </tr>  
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a ng-click="">&laquo;</a></li>
          <li><a ng-click="">1</a></li>
          <li><a ng-click="">2</a></li>
          <li><a ng-click="">3</a></li>
          <li><a ng-click="">4</a></li>
          <li><a ng-click="">5</a></li>
          <li><a ng-click="">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>