<page-title title="'job_title'| translate" ng-init="vm.init()"></page-title> 

<div class="row">
  <div class="col-lg-12">
    <rd-widget>
      
      <rd-widget-header icon="fa fa-briefcase" title="{{'global_jobList' | translate}}">
        <a class="btn btn-default btn-sm" 
           ng-if="$root.hasPermission('JOB_ADD')"
           ui-sref="job-detail({id : ''})"
           role="button">
           <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <a class="btn btn-default btn-sm" 
           ng-if="$root.hasPermission('JOB_DELETE')"
           ng-click="vm.confirmDelete()"
           role="button">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
         <!--- 
        <a class="btn btn-default btn-sm" href="#" role="button"><i class="fa fa-filter" aria-hidden="true"></i></a>-->
      </rd-widget-header>
      
      <rd-widget-body classes="xlarge no-padding">
        <div class="table-responsive">
          <table class="table">
						<thead>
              <th width="1%">
                <checkbox-list-header table-check="vm.tableCheck" ></checkbox-list-header>
              </th>
							<th width="74%" ng-bind="'global_title' | translate"></th>
							<th width="10%" ng-bind="'global_published' | translate" class="text-center"></th>
							<th width="15%" ng-bind="'global_createdDate' | translate" class="text-center"></th>
						</thead>
            <tbody>
              <tr ng-repeat="j in vm.jobList">
                <td>
                    <checkbox-list-item item-id="j.id" checkboxes="vm.tableCheck"></table-check-item>
                </td>
                <td ng-bind="j.title" ui-sref="job-detail({id: j.id})"></td>
                <td class="text-center" ui-sref="job-detail({id: j.id})">
                  <span class="text-success" ng-show="j.published == true"><i class="fa fa-check"></i></span>
                  <span class="text-danger" ng-show="j.published == false"><i class="fa fa-times"></i></span>
                </td>
                <td class="text-center" ng-bind="j.createdAt | date: 'MM/dd/yyyy'" ui-sref="job-detail({id: j.id})"></td>
              </tr>  
            </tbody>
          </table>
        </div>      
      </rd-widget-body>
      <rd-widget-footer>
        <ul class="pagination pagination-sm pull-right">
          <li><a ng-click="">&laquo;</a></li>
          <li><a ng-click="">1</a></li>
          <li><a ng-click="">2</a></li>
          <li><a ng-click="">3</a></li>
          <li><a ng-click="">4</a></li>
          <li><a ng-click="">5</a></li>
          <li><a ng-click="">&raquo;</a></li>
        </ul>
        <div class="clearfix"></div>
      </rd-widget-footer>
    </rd-widget>
  </div>
</div>